.name {
    color: blue;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 7vh;
}

#add-button {
    text-align: center;
}

.create-event {
    margin: 0;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: blue;
    font-size: 50;
    color: white;
    font-weight: bold;
    line-height: 0;
}

.popup-window {
    text-align: center;
    /* The popup window will be visible only when
     * specific actions are made by the user
     */
    display: none;
}

/* STEP 1 */
.list {
    width: 80%;
    max-width: 800px;
    height: 400px;
    overflow-y: scroll;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    overflow-x: hidden;
}

.event-wrapper {
    display: flex;
    flex-direction: row;
    padding: 2px 10px;
    border-bottom: 1px solid black;
}

.event-details {
    flex: 1;
}

.event-details > p,
.event-details > h3 {
    margin: 0;
}

.remove-button-container > button {
    font-size: 50px;
    font-weight: bold;
    color: #1A73e8;
    background-color: transparent;
    transform: rotate(45deg);
    margin-right: 15px;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
}

#add-button {

}

.create-event {
    margin: 0;
    width: 70px;
    height: 70px;
    transform: translateY(-50%);
    font-size: 75px;
    font-weight: bold;
    line-height: 0;
    cursor: pointer;
    color: white;
    background-color: #1A73e8;
    padding-left: 7px;
    padding-bottom: 2px;
    border: none;
    outline: none;
    border-radius: 100%;
}

.modal {
    display: block;
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translateX(-50%) translateY(-50%);
    background: white;
    z-index: 1;
    border: 1px solid black;
    border-radius: 15px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.8;
    cursor: pointer;
}

#add-event-modal {
    width: 600px;
    padding: 20px;
}

#add-event-modal .close-modal-container {
    position: absolute;
    top: -10px;
    right: 0px;
}

.close-modal-container button {
    font-size: 55px;
    font-weight: bold;
    transform: rotate(45deg);
    color: #1A73e8;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

#add-event-modal > h2 {
    text-align: center;
    margin-top: 0;
}

#add-event-modal .main-form {
    display: flex;
    flex-direction: column;
}

#add-event-modal .form-row {
    margin-bottom: 15px;
}

#add-event-modal .form-row > label {
    position: relative;
    top: 5px;
    display: inline-block;
    font-size: 23px;
    width: 200px;
}

#add-event-modal .form-row > input {
    width: 360px;
    font-size: 20px;
    padding: 5px;
    border: none;
    border-bottom: 3px solid black;
    outline: none;
    transition: 0.2s;
}

#add-event-modal .form-row > input:focus {
    border-bottom-color: #1A73e8;
    transition: 0.2s;
}

.large-button {
    color: white;
    background-color: #1A73e8;
    font: 23px arial, sans-serif;
    font-weight: bold;
    padding: 15px 55px;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

.action-add-event {
    display: block;
    margin: 15px auto 0;
}

/* STEP 2/3 */
.content {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

.title {
    text-align: center;
    text-transform: uppercase;
}

.event-container {
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
}

.event-container > h3 {
    margin: 0;
}

.event-container > p {
    color: rgb(153, 153, 153);
    margin: 0;
}

.intermediate-info {
    width: 50%;
    height: 71px;
    margin-left: 50%;
    display: flex;
    flex-direction: row;
}

.bubble {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 5px;
}

.info-pane {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: fit-content;
    flex: 1;
    text-align: center;
    margin-left: 15px;
    padding: 3px 0;
    border: 1px solid black;
}

.info-pane > p {
    margin: 0;
}

.map-view {
    background-color: grey;
    margin: 30px auto;
    padding-top: 100%;
}

.next-button {
    text-decoration: none;
    border-style: solid;
    border-color: black;
}

.next-page {
    text-align: center;
    margin-top: 20px;
}

.warning {
    text-align: center;
    color: red;
    /* Show only in case of bad behavior */
    display: none;
}

#to-step2 {
    display: none;
}

.select-date {
    text-align: center;
}

#step1-content {
    text-align: center;
    /* Show only when the date was selected */
    display: none;
}
