.name {
    color: blue;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 7vh;
}

.list {
    text-align: center;
}

#add-button {
    text-align: center;
}

.create-event {
    margin: 0;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: blue;
    font-size: 50;
    color: white;
    font-weight: bold;
    line-height: 0;
}

.popup-window {
    text-align: center;
    /* The popup window will be visible only when
     * specific actions are made by the user
     */
    display: none;
}

/* STEP 2/3 */
.content {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

.title {
    text-align: center;
    text-transform: uppercase;
}

.event-container {
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
}

.event-container > h3 {
    margin: 0;
}

.event-container > p {
    color: rgb(153, 153, 153);
    margin: 0;
}

.intermediate-info {
    width: 50%;
    height: 71px;
    margin-left: 50%;
    display: flex;
    flex-direction: row;
}

.bubble {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 5px;
}

.info-pane {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: fit-content;
    flex: 1;
    text-align: center;
    margin-left: 15px;
    padding: 3px 0;
    border: 1px solid black;
}

.info-pane > p {
    margin: 0;
}

.map-view {
    background-color: grey;
    margin: 30px auto;
    padding-top: 100%;
}

.next-button {
    text-decoration: none;
    border-style: solid;
    border-color: black;
}

.next-page {
    text-align: center;
    margin-top: 20px;
}

.warning {
    text-align: center;
    color: red;
    /* Show only in case of bad behavior */
    display: none;
}

#to-step3{
    /* Show only when all of the conditions from step 2 are accomplished */
    display: none;
}
