h1 {
    color: blue;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 7vh;
}

div {
    display: flex;
    justify-content: center;
}

img {
    max-width:10vh;
    max-height:10vh;
    margin: 0 0 0 0;
}

button {
    align-content: center;
    margin: 0 0 0 0;
    width: fit-content;
    height: fit-content;
    border-radius: 100%;
}
